.edit-profile {
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-profile-button,
.cancel-button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Set a consistent font size for buttons */
}

.cancel-button {
  background-color: #6c757d;
}

.update-profile-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}

.red-button {
  color: white;
  padding: 5px 20px;
  background-color: rgb(239, 53, 53);
  font-size: 18px;
  border: 1px solid rgb(239, 53, 53);
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.disable {
  width: 100%;
}

.red-button:hover {
  background-color: rgb(205, 40, 40);
  border: 1px solid rgb(205, 40, 40);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
}
