.tasks {
  overflow-y: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(219, 219, 219);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.task:hover {
  background-color: rgb(190, 190, 190);
}

.task-user {
  display: block;
}

.responsible-user {
  display: block;
}
