.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content input,
.content select {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
}

.content select {
  color: rgb(99, 99, 99);
  background-color: white;
}
