.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projects {
  overflow-y: auto;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.project:hover {
  background-color: #e2e6ea;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
