.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login input {
  width: 60%;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
}

.login button {
  cursor: pointer;
}
