html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  flex-grow: 1;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.app-content h1 {
  font-size: 30px;
  color: #2c3e50;
  margin-bottom: 20px;
}

hr {
  border-color: #eaecef;
}

.default-button {
  color: #2c3e50;
  padding: 10px 25px;
  background-color: #ffffff;
  font-size: 16px;
  border: 2px  #2c3e50;
  border-radius: 5px;
  margin: 10px 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.default-button:hover {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.default-button:disabled {
  color: #cccccc;
  background-color: #eaecef;
  cursor: not-allowed;
}

i {
  margin: 0 5px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}
