html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: rgb(246, 234, 234);
  margin: 0;
}

.App {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
  background-color: rgb(218, 218, 208);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}
