
.story-section {
    border: 2px solid #dee2e6;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.story-section h3 {
    margin-top: 0;
    color: #495057;
}
.edit-story-button .btn {
    padding: 8px 15px;
    margin-right: 10px; /* Adjust the margin as needed */
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Align items in line */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.edit-story-button .btn.delete {
    background-color: #dc3545; /* Red color for delete button */
}

/* Hover effects */
.edit-story-button .btn:hover {
    background-color: #0056b3;
}

.edit-story-button .btn.delete:hover {
    background-color: #c82333;
}

/* Focused buttons */
.edit-story-button .btn:focus,
.edit-story-button .btn.delete:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Adjust the link to fit button styling */
.edit-story-button .btn {
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Align links like buttons */
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
}

